*{
    margin: 0;
    padding: 0;
}
/* ------------- Mis variables----------- */
:root {
    --first-color: #6434d1;
    --second-color1: #FF0080;
    --shadow-color: #FF9E9E;
    --shadow-color-light: white;
    --color_banner_primero1:#169ff4;
}
/*********************************************/*
.banerprincipal{
    background-image: url('../img/p\ diseño\ web.webp');
    background-size: cover;
    width: 100%;
    height: 100%;
    
    
 }
.padre{
    background-color: rgba(41,41,41,0.2) ;
    width: 100%;
    height: 100%;
}
.contenedors{
    margin-left:5%;
    padding-top: 15%;
    
 
 }
 .tit{
    font-size: 6em;
    font-weight: 800;
    color:var(--color_banner_primero1);
    
 }
 .sub{
    font-size: 2em;
    color: white;
 }
 .boton_con{
    background-color: var(--color_banner_primero1);
    text-align: center;
    color: white;
    padding: 12px;
    border-radius: 15px;
    width: 1500px;
 }
 .boton_con:hover{
    background-color: white;
    color: var(--color_banner_primero1);
    
 }
 .con{
     padding-top: 11px;
 }
.ckjb{
   
    max-width: 650px;
}
#maquina{
    display: inline;
    border-right: 2px solid white;
}

.bannersec{
    background-image: url('../img/servicio\ de\ diseno\ web.webp');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 85%;
    
}

.cont{
    background-color: rgba(41,41,41,0.4) ;
    width: 62%;
    height: 87%;
    padding: 5%;
}

.conrs{
    padding-top: 75px;
    margin-left: 59px;
    height: 100%;
}
.titulo{
    color: var(--second-color1);
    font-weight: 800;
   
}
.tes{
    font-size: 2em;
}

.parrafo{
    font-size: 1.5em;
    color: white;
}

.bannersec3{
    background-image: url('../img/dw\ lima\ peru.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 85%;
    
}

.conrs2{
    padding-top: 75px;
    margin-left: 59px;
    height: 100%;
}
.cont2{
    background-color: rgba(41,41,41,0.4) ;
    width: 75%;
    height: 87%;
    padding: 3%;
}


.titulo2{
    color: var(--color_banner_primero1);
    font-weight: 800;
   
}
.bannersec4{
    background-image: url('../img/tecnica\ de\ trabajo.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 85%;
    
}
.bannersec4 .parrafo{
    font-size: 120%;
}

.bannersec5{
    background-image: url('../img/importancia\ diseno\ web.webp');
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 90%;
    width: 100%;
    height: 82%;
    
}

/*medias querys*/

@media (min-width: 470px ) and (max-width: 750px){
    .cont{
        background-color: rgba(41,41,41,0.4) ;
        width: 90%;
        height: 87%;
        padding: 5%;
    }
    .parrafo{
        font-size: 150%;
        color: white;
    }
    .contenedors{
        margin-left:5%;
        padding-top: 30%; 
    }
    .tit{
        font-size: 5em;
        font-weight: 800;
        color:var(--color_banner_primero1);
        
    }
    .sub{
    font-size: 1.5em;
    color: white;
    }
    .cont2{
        background-color: rgba(41,41,41,0.4) ;
        width: 90%;
        height: 87%;
        padding: 1%;
    }
    .conrs2{
        padding-top: 30px;
        margin-left: 59px;
        height: 100%;
    }
    .bannersec4 ul{
        font-size: 100%;
    }
    .bannersec4 .parrafo{
        font-size: 115%;
    }
    .bannersec5 ul{
        font-size: 110%;
    }
}
@media (min-width: 320px ) and (max-width: 468px){
    .cont{
        background-color: rgba(41,41,41,0.4) ;
        width: 90%;
        height: 87%;
        padding: 5%;
    }
    .parrafo{
        font-size: 100%;
        color: white;
    }
    .contenedors{
        margin-left:5%;
        padding-top: 25%; 
    }
    .tit{
        font-size: 3em;
        font-weight: 800;
        color:var(--color_banner_primero1);
        
    }
    .sub{
    font-size: 1.5em;
    color: white;
    }
    .cont2{
        background-color: rgba(41,41,41,0.4) ;
        width: 90%;
        height: 87%;
        padding: 1%;
    }
    .conrs2{
        padding-top: 30px;
        margin-left: 59px;
        height: 100%;
    }
    .tes{
        font-size: 1.2em;
    }
    .bannersec4 ul{
        font-size: 50%;
    }
    .bannersec4 .parrafo{
        font-size: 85%;
    }
    .bannersec5 ul{
        font-size: 95%;
    }
}