@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

* {
  margin: 0;
  padding: 0;
}

/* ------------- Mis variables----------- */
:root {
  --color_banner_primero2: #169ff4;
}

/*********************************************/


/*********************************************/

/*********************************************/
/*********************************************/
.banner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #2D9BF0;
  margin-top: -55px;
}

.banner img {
  width: 50%;
  max-width: 150%;
  margin-top: 0rem;
  object-fit: cover;
}

.banner .content {
  max-width: 50%;
  margin: auto;
  text-align: center;
  padding: 3% 4%;
}


.banner .content h1 {
  font-size: 4rem;
  margin: 0;
  color: #FFFFFF;
  font-family: 'Fredoka One', cursive;
}

.banner .content p {
  margin: 0rem 6;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;

  font-weight: 700;
}

.contenedor-imagen {
  background-color: rgba(238, 9, 104, 0.945);
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.contenedor-texto {
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 110px;
  width: 100%;
  margin: 0;
  font-family: 'Fredoka One', cursive;
  text-decoration: underline;
  text-decoration-color: #ffff;
  text-decoration-thickness: 2px;
  text-underline-offset: 20px;
  transition: text-decoration 0.3s ease-in-out;
}
.container2 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: -50px;
}

.left,
.right {
  flex-basis: 100%;
  padding: 5% 10%;
  box-sizing: border-box;
  text-align: center;
}

.left h2,
.right h2 {
  font-family: 'Fredoka One', cursive;
  font-size: 2rem;
  color: #2D9BF0;
  text-align: left;
}

.left {
  background-color: #f2f2f2;
}

.left p {
  color: #2D9BF0;
}

.right p {
  color: #2D9BF0;
}

.right {
  background-color: #f2f2f2;
}

.icono {
  vertical-align: middle;
}


.valores1 p {
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.5;
  margin-top: 30px;
  color: #2D9BF0;
  font-family: 'Spoof', sans-serif;

}

.icono {
  width: 4rem;
  height: 4rem;
  margin-right: 0.5rem;
}

.valores1 h1 {
  font-size: 6rem;
  text-align: center;
  margin-bottom: 30px;
  color: #DA0063;
  font-family: 'Fredoka One', cursive;

}

.contenedor9 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* Centramos horizontalmente */
  align-items: stretch;
  margin: 0 auto;
  max-width: 1200px;
}
.contenedor10{
  display: none;
}
.items {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 30px;
  padding: 30px;
  background-color: #DA0063;
  box-sizing: border-box;
  color: #FFFFFF;

}

.items h2 {
  font-size: 30px;
  margin-bottom: 10px;
  font-family: 'Spoof', sans-serif;
  font-weight: 700;
}

.items p {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.items:not(:last-child) {
  margin-right: 20px;
}
.max{
  font-size: 1.3rem;

}


#titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 26;


}

#titulo h1 {

  font-size: 6rem;
   margin-bottom: 30px;
  color: #DA0063;
  font-family: 'Fredoka One', cursive;
}

.icono {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
}
.left,
.right {
  flex-basis: 50%;
}

h2 {
  font-size: 2rem;
  text-align: left;
}

.pe{
  
  font-size: 1.3rem;
  text-align: justify;
  line-height: 1.5;
  margin-top: 1.5rem;
}
#movi{
  display: none;     
}
@media (max-width:700px) {
  .contenedor-imagen {

    width: 100%;
    height: 350px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contenedor-texto {
    top: 0;
    left: 0;
    margin-top: 210px;
    margin-left: 200px;
    font-size: 2rem;
  }
  /*banner*/
  .banner {
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-top: 25px;
    background-color: #2D9BF0;
  }
  .banner img {
    width: 100%;
  }
  .banner .content {
    max-width: 100%;
  }
  .banner .content h1 {
    font-size: 1.5rem;
    margin: 0;
    font-family: 'Fredoka One', cursive;
  }
  
  .banner .content p {
    margin: 0;
    margin-top: 5px;
    font-size: 1rem;
    font-weight: 100;
  }
  /*container2*/
  .container2 {
    margin: 0;
    margin-top: 30px;
  }

    .left,
    .right {
      flex-basis: 100%;
      padding:25;
     
    }
  

    .left p {
      font-size:1rem;
    }
  
    .right p {
      font-size:1rem;
    }
  
    
    #titulo {
    
      display: none;
    
    
    }
    #bl{
      display: none;
    }
    /*.val{
      
      font-size: 2rem;
      margin: 0 auto;
      
     
    }*/
    #movi {
      display: block;
      text-align: center;
      
    }
    .nu{
      font-size: 1.4rem;
      color: #DA0063;
      font-weight: bold;
    }
    .valores1 p {
      width: 100%;
      margin: 0;
      color: #2D9BF0;
      font-size: 1rem;
      padding-left: 35px;
      padding-right: 35px;
    
    }

    /********/
    .contenedor10{
      display: block;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: stretch;
      max-width: 1200px;
    }
    .items1 {
      flex-basis: calc(55.55% - 5px);
      margin-bottom: 30px;
      padding: 30px;
      background-color: #DA0063;
      box-sizing: content-box;
      color: #FFFFFF;
      
      margin-bottom: 30px
    
    }
    
    .contenedor9 {
      display: none;
      /*display: flex;
      flex-wrap: wrap;
      justify-content: center;*/
      /* Centramos horizontalmente */
      /*align-items: stretch;*/
     /* margin: 0 ;
      max-width: 1200px;
      background-color: #2D9BF0;*/
      
    }
    
    /*.items {
      /*flex-basis: calc(33.33% - 550px);*/ 
      /*margin-bottom: 30px;
      padding: 30px;
      background-color: #DA0063;
      box-sizing: content-box;
      color: #FFFFFF;
      
      
    
    }
    
    .items h2 {
      font-size: 30px;
      margin-bottom: 10px;
      font-family: 'Spoof', sans-serif;
      font-weight: 700;
    }
    
    .items p {
      font-size: 16px;
      line-height: 1.5;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
    }
    .items:not(:last-child) {
      margin-right: 10px;
    }*/
    
    

  
}



@media (min-height:1023px) {
  .contenedor-imagen {

    width: 100%;
    height: 550px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contenedor-texto {
    top: 0;
    left: 0;
    margin-top: 300px;
    margin-left: 400px;
    font-size: 3rem;
  }
  /*banner*/
  .banner {
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-top: 25px;
    background-color: #2D9BF0;
    width: 70%;
    margin-left: 120px;
  }
  .banner img {
    width: 100%;
    
  }
  .banner .content {
    max-width: 100%;
  }
  .banner .content h1 {
    font-size: 1.5rem;
    margin: 0;
    font-family: 'Fredoka One', cursive;
  }
  
  .banner .content p {
    margin: 0;
    margin-top: 5px;
    font-size: 1rem;
    font-weight: 100;
  }
  /*container2*/
  .container2 {
    margin: 0;
    margin-top: 30px;
  }

    .left,
    .right {
      flex-basis: 100%;
      padding:25;
     
    }
  

    .left p {
      font-size:1rem;
    }
  
    .right p {
      font-size:1rem;
    }
  
    
    #titulo {
    
      display: none;
    
    
    }
    #bl{
      display: none;
    }
    /*.val{
      
      font-size: 2rem;
      margin: 0 auto;
      
     
    }*/
    #movi {
      display: block;
      text-align: center;
      
    }
    .nu{
      font-size: 1.4rem;
      color: #DA0063;
      font-weight: bold;
    }
    .valores1 p {
      width: 100%;
      margin: 0;
      color: #2D9BF0;
      font-size: 1rem;
      padding-left: 35px;
      padding-right: 35px;
    
    }

    /********/
    .contenedor10{
      display: block;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: stretch;
      max-width: 1200px;
    }
    .items1 {
      flex-basis: calc(55.55% - 5px);
      margin-bottom: 30px;
      padding: 30px;
      background-color: #DA0063;
      box-sizing: content-box;
      color: #FFFFFF;
      
      margin-bottom: 30px
    
    }
    
    .contenedor9 {
      display: none;
      /*display: flex;
      flex-wrap: wrap;
      justify-content: center;*/
      /* Centramos horizontalmente */
      /*align-items: stretch;*/
     /* margin: 0 ;
      max-width: 1200px;
      background-color: #2D9BF0;*/
      
    }
    
    /*.items {
      /*flex-basis: calc(33.33% - 550px);*/ 
      /*margin-bottom: 30px;
      padding: 30px;
      background-color: #DA0063;
      box-sizing: content-box;
      color: #FFFFFF;
      
      
    
    }
    
    .items h2 {
      font-size: 30px;
      margin-bottom: 10px;
      font-family: 'Spoof', sans-serif;
      font-weight: 700;
    }
    
    .items p {
      font-size: 16px;
      line-height: 1.5;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
    }
    .items:not(:last-child) {
      margin-right: 10px;
    }*/
    
    

  
}