*{
    margin: 0;
    padding: 0;
}

.contenedor-principal-fondo {
    width: 100%;
    height: 750px;
}

.banner-image {
    background-image:url("../img/banner_servicios.webp");
    background-size: cover;
    width: 100%;
    height: 100%;

}
.principal{
   
    height: 80%;
    padding-left: 850px;
    padding-top: 150px;
    
    
}


.d{
    color: #9e7fe2;
    font-weight: bold;
    font-size: 4.2rem;
}
.creativas{
    color:#FF0080;
    font-weight: 700;
    margin-left: 90px;
}

.info{
    margin-top: 120px;

    width: 60%;
    padding: 10px;
    
}
.es{
    text-align: right;
    font-size: 18px;
    font-weight: 550;
    
}
.btu{
    margin-left: 240px;
}
.con{
    background-color: #6434d1;
    color: white;
    padding: 9px;
    border: none;
    border-radius: 50px;
    width: 155px;
}
.con:hover{
    color: #6434d1;
    background-color: white;
}
.ser{
    width: 100%;
    height: 100%;
    padding: 30px;
    padding-left: 80px;
}
.co{
    background-color: #6434d1;
    width: 100%;
    height: 400px;
}
.mar{
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 80px;
    width: 100%;
    height: 100%;
    /**/
   
  
  
   
}
.conte{
    background-color: #6434d1;
    width: 100%;
    height: 100%;
}
.conte2{
    background-color: #FF0080;
    width: 100%;
    height: 100%;
}
.containers{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 60px;
}
.containers .thumbex {
    
    margin: 10px 20px 30px;
    width: 100%;
    min-width: 250px;
    max-width: 435px;
    height: 300px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    outline: 2px solid white;
    outline-offset: -15px;

    box-shadow: 5px 10px 40px 5px rgba(0, 0, 0, 0.5);
  }
  .containers .thumbex .thumbnail {
    overflow: hidden;
    min-width: 250px;
    height: 300px;
    position: relative;
    opacity: 0.88;
    backface-visibility: hidden;
    transition: all 0.4s ease-out;
  }
  .containers .thumbex .thumbnail img {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    height: 115%;
    width: auto;
    transform: translate(-50%, -50%);
    backface-visibility: hidden;
  }
  .containers .thumbex .thumbnail span {
    position: absolute;
    z-index: 2;
    top: calc(150px - 20px);
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 50px;
    margin: 0 45px;
    text-align: center;
    font-size: 24px;
    color: white;
    font-weight: 300;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.2px;
    transition: all 0.3s ease-out;
  }
  .containers .thumbex .thumbnail:hover {
    backface-visibility: hidden;
    transform: scale(1.15, 1.15);
    opacity: 1;
  }
  .containers .thumbex .thumbnail:hover span {
    opacity: 0;
  }




.cx{
    background-color: #FF0080;
    width: 100%;
    height: 400px;
}

.cp{
    width: 100%;
    height: 300px;
    background-color: #9e7fe2;
}
.cpx{
    width: 100%;
    height: 400px;
    background-color: #FF0080;
}
.texg{
    width: 30%;
}
.tx{
    color: white;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.no{
    font-weight: 600;
    
}
.btr{
    margin-top: 45px;
    margin-left: 160px;
}
.b{
    background-color: white;
    color: #9e7fe2;
    padding: 8px;
    border: none;
    border-radius: 50px;
}
.texter{
    margin-left: 210px;
}
.tx2{
    color: white;
}
.sssa{
    text-align: center;
    padding-top: 80px;
}
.btr2{
    padding-top: 15px;
}

/*medias querys*/
/*celular*/
@media (max-width:700px) {
    .contenedor-principal-fondo {
        width: 100%;
        height: 450px;
    }
    
    .principal{
        padding: 0;
        height: 50%;
        float: left;
        margin-top: 90px;
        margin-left: 50px;
        margin-right: 20px;
        
        
    }
    
    .d{
        
        font-weight: bold;
        font-size: 2rem;
    }
    .creativas{
       
        font-weight: 700;
        margin: 0;
        font-size: 1rem;
    }
    .info{
        margin: 0;
        width: 90%;
        padding: 0;
        padding-top: 15px;
        
    }
    .es{
        text-align: left;
        font-size: 15px;
        font-weight: 550;
        
    }
    .btu{
        margin: 0;
    }
    .con{
        background-color: #6434d1;
        color: white;
        padding: 9px;
        border: none;
        border-radius: 50px;
        width: 155px;
    }
    .con{
        background-color: #6434d1;
        color: white;
        padding: 7px;
        border: none;
        border-radius: 50px;
        width: 135px;
    }
    .ser{
        padding: 0;
        padding: 15px;
        padding-left: 40px;
        
    }
    .co{
        background-color: #6434d1;
        width: 100%;
        height: 800px;
    }

    .conte{
        background-color: #6434d1;
        width: 100%;
        height: 100%;
    }
    .conte2{
        background-color: #FF0080;
        width: 100%;
        height: 100%;
    }
    .containers{
       
        padding: 0;
        padding: 15px;
    }
    
     
      
      .containers .thumbex .thumbnail span {
        font-size: 14px;
      }
      
    
   
    

    .tx{
        height: 0;
        padding-top: 10px;
        padding-left: 50px;
        padding-right: 50px;
        

    }
    .tx2{
        padding: 0;
        margin: 0;
        
        padding-left: 50px;
        padding-right: 50px;
    }
    .texg{
        width: 100%;
    }
    .no,.no2{
        font-size: 1.2rem;
        
    }
    .parr,.texte2r,.parr2,.saxc2{
        font-size: 0.8rem;
    }
    .btr{
       margin: 0;
      
    }
    .b{
        padding: 5px;
    }
    .cpx{
        width: 100%;
        height: 400px;
        background-color: #FF0080;
    }
    .sssa{
        text-align: center;
        padding: 0;
        padding-top: 58px;
    }


}


/*****/
/**tablet**/
@media (min-height:1023px)  {
    .contenedor-principal-fondo {
        width: 100%;
        height: 450px;
    }
    
    .principal{
        padding: 0;
        height: 50%;
        float: left;
        margin-top: 98px;
        margin-left: 394px;
        margin-right: 20px;
        
        
    }
    .d{
        
        font-weight: bold;
        font-size: 2.2rem;
    }
    .creativas{
        color:#FF0080;
        font-weight: 700;
        margin: 0;
    }
    
    .info{
        margin: 0;
        
        width: 90%;
        padding: 0;
        padding-top: 45px;
    }
    .es{
        text-align: left;
        font-size: 15px;
        font-weight: 550;
        
    }
    .btu{
        margin: 0;
        
    }
    .con{
        background-color: #6434d1;
        color: white;
        padding: 5px;
        border: none;
        border-radius: 50px;
        width: 155px;
        font-size: 14px;
    }

    
    .ser{
        width: 100%;
        height: 100%;
        padding: 0;
        padding: 25px;
    }
    .co{
        
        width: 100%;
        height: 250px;
    }
    .cx{
        
        height: 250px;
    }
    .mar{
        
        width: 100%;
        
        padding: 40px;
       
        /**/
    }
    .containers{
        
        padding: 0;
        padding: 18px;
    }
    
     
      
      .containers .thumbex .thumbnail span {
        font-size: 14px;
      }

      .containers .thumbex {
    
        margin: 0px 5px 10px;
        width: 100%;
        min-width: 150px;
        max-width: 300px;
        height: 300px;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        overflow: hidden;
        outline: 2px solid white;
        outline-offset: -15px;
    
        box-shadow: 5px 10px 40px 5px rgba(0, 0, 0, 0.5);
      }
      .co
      

    .cp{
        width: 100%;
        height: 280px;
        background-color: #9e7fe2;
    }
    .cpx{
        width: 100%;
        height: 400px;
        background-color: #FF0080;
    }
    .texg{
        width: 100%;
    }
    .tx{
        color: white;
        
       text-align: center;
        
    }
    
    .btr{
       margin: 0;
    }
    .b{
        background-color: white;
        color: #9e7fe2;
        padding: 8px;
        border: none;
        border-radius: 50px;
    }
    .texter{
        margin-left: 210px;
    }
    .tx2{
        color: white;
    }
    .sssa{
        text-align: center;
        padding-top: 80px;
    }
    .btr2{
        padding-top: 15px;
    }
    
}